---
name: CI/CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
  workflow_dispatch:
    inputs:
      workflow:
        required: true
        type: choice
        options:
          - lint-and-test
        description: Choose the workflow to run
        default: lint-and-test
jobs:
  typescript-lint-and-test:
    if: >
      github.event_name == 'push'
      || (github.event_name == 'pull_request' && github.event.action != 'ready_for_review')
      || (github.event_name == 'workflow_dispatch' && inputs.workflow == 'lint-and-test')
    permissions:
      contents: read
    uses: dceoy/gh-actions-for-devops/.github/workflows/typescript-package-script.yml@main  # zizmor: ignore[unpinned-uses]
    with:
      package-scripts: lint,typecheck,format:check
      package-path: .
      node-version: latest
      audit: true
  github-codeql-analysis:
    if: >
      github.event_name == 'push'
      || (github.event_name == 'workflow_dispatch' && inputs.workflow == 'lint-and-test')
    uses: dceoy/gh-actions-for-devops/.github/workflows/github-codeql-analysis.yml@main   # zizmor: ignore[unpinned-uses]
    permissions:
      actions: read
      contents: read
      security-events: write
    with:
      language: >
        ["javascript"]
  dependabot-auto-merge:
    if: >
      github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    needs:
      - typescript-lint-and-test
    permissions:
      contents: write
      pull-requests: write
      actions: read
    uses: dceoy/gh-actions-for-devops/.github/workflows/dependabot-auto-merge.yml@main  # zizmor: ignore[unpinned-uses]
    with:
      unconditional: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
